@define-color background #000;
@define-color primary #fff;

* {
  border: none;
  border-radius: 0;
  font-size: 16px;
  font-family: "hack";
  min-height: 0;
}
window#waybar {
  all: unset;
  background: alpha(@background, 1);
}

.modules-left {
  background: alpha(@background, 0);
}

.modules-center {
  background: alpha(@background, 0);
}

.modules-right {
  background: alpha(@background, 0);
}

#clock {
  padding: 3px 5px 0px 5px;
  color: @primary;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
}

#pulseaudio {
  padding: 3px 5px 0px 5px;
  color: @primary;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
}

#workspaces {
  padding: 3px 5px 0px 5px;
  border-bottom: 3px solid transparent;
}

#workspaces button {
  all: unset;
  padding: 0px 3px;
  color: alpha(@primary, 0.5);
  transition: all 0.2s ease;
}

#workspaces button.active {
  color: @primary;
}

#workspaces button.empty {
  color: alpha(@primary, 0.2);
  border: none;
}

#workspaces button.empty.active {
  color: @primary;
  border: none;
}

#tray {
  padding: 3px 5px 0px 5px;
  border-bottom: 2px solid transparent;
}
